body {
    margin: 0;
    padding: 0;
}

$base-fiolet: #6969B9;
$base-yelow: #FADF4F;


.container {
    max-width: 1360px;
    margin: 0 auto;
    padding: 0 40px;
}
header {
    background: $base-fiolet;
    min-height: 105px;

    .header_wrapper {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 1288px;
        margin: 0 auto;
        align-items: center;

        .header_menu {
            display: flex;
        }

        ul {
            list-style: none;
            display: flex;
            align-items: center;
            padding: 0;

            @media(max-width: 1000px) {
                align-items: flex-start;
            }

            @media(max-width: 1000px) {
                flex-direction: column;
            }

            li {
                padding: 15px;

                @media(max-width: 1000px) {
                    padding: 0;
                    margin-right: 10px;
                }
                a {
                    font-family: 'ProbaPro-Medium', sans-serif;
                    font-size: 20px;
                    font-weight: 500;
                    line-height: 25px;
                    letter-spacing: 0em;
                    text-decoration: none;
                    color: #fff;

                    span {
                        max-width: 17px;
                    }

                }

                .nav_favicon {
                    display: inline-block;
                    position: relative;
                    padding: 5px; 
                    border: 1px solid rgba(255, 255, 255, 0.2);
                    border-radius: 50%;

                    @media(max-width: 1000px) {
                        border: 1px solid rgba(105, 105, 185, 0.2)
                    }
                    i {
                        padding: 7px;

                        @media(max-width: 1000px) {
                            color: $base-fiolet;
                        }
                        
                    }

                    &:hover {
                        background-color: $base-yelow;
                        border: 1px solid $base-yelow;
                        i {
                            color: $base-fiolet;
                        }
                    }
                }

                &:hover {
                    a {
                        color: #FADF4F;
                    }
                    cursor: pointer;
                }

            }
        }
        .burger {
            position: absolute;
            top: 30px;
            right: 40px;
            width: 40px;
            height: 40px;
            background: $base-yelow;
            cursor: pointer;
            display: none;
            z-index: 50;
            border: 1px solid $base-yelow;
            border-radius: 25px;
          
            span {
              display: block;
              position: absolute;
              height: 2px;
              width: 20px;
              background: $base-fiolet;
              opacity: 1;
              left: 10px;
              transform: rotate(0deg);
              transition: 0.25s ease-in-out;
          
              &:nth-of-type(1) {
                top: 12px;
                transform-origin: left center;
              }
          
              &:nth-of-type(2) {
                top: 50%;
                transform: translateY(-50%);
                transform-origin: left center;
              }
          
              &:nth-of-type(3) {
                top: 28px;
                transform-origin: left center;
                transform: translateY(-100%);
              }
            }
          
            input {
              display: none;
            }
          
            input:checked ~ span:nth-of-type(1) {
              transform: rotate(45deg);
              top: 12px;
              left: 13px;
            }
          
            input:checked ~ span:nth-of-type(2) {
              width: 0%;
              opacity: 0;
            }
          
            input:checked ~ span:nth-of-type(3) {
              transform: rotate(-45deg);
              top: 26px;
              left: 13px;
            }
          }
          
          // Стили для выпадающего меню
          #mobile-menu {
            display: none;
            position: absolute;
            top: 0px; // Располагаем меню ниже бургера
            right: 0;
            width: 370px;
            height: 100%;
            background-color: #fff;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
            z-index: 40;

            .favicon_mobile {
                flex-direction: row;
                margin: 30px;
                padding: 0;
            }
          
            &.active {
              display: block;
            }
          
            ul.menu {
              list-style: none;
              padding: 0;
          
              li {
                margin: 0;
                padding: 0;
          
                a {
                  display: block;
                  padding: 10px 20px;
                  text-decoration: none;
                  color: #333;
          
                  &:hover {
                    
                        color: #FADF4F;
                    
                    cursor: pointer;
                  }
                }
              }
            }
          }

        @media(max-width: 1000px){
            .burger {
                display: block;
            }

            .header_menu {
                display: none;
            }
        }
       

    }
}

.main_banner {
    background-color: $base-fiolet;
    min-height: 556px;
    font-family: 'ProbaPro-Medium', sans-serif;
    color: white;
    position: relative;

    .image_frame {
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 1;
    }

    .title_banner {
        position: relative;
        font-weight: 500;
        font-size: 125px;
        line-height: 111px;
        max-width: 528px;
        margin-bottom: 26px;
        margin-top: 0;
        padding-top: 62px;
        z-index: 2;
    }

    .banner_description {
        position: relative;
        font-size: 22px;
        font-weight: 500;
        line-height: 28px;
        max-width: 569px;
        z-index: 2;
    }

}

// post card

.card_wrapper {
    display: flex;
    flex-wrap: wrap;
    max-width: 960px;
    margin: 60px auto 40px;
    justify-content: center;
    gap: 30px;

    .card {
        font-family: 'ProbaPro-Medium', sans-serif;
        max-width: 620px;
        display: flex;

        .card__thumbn {
            margin-right: 16px;
            max-width: 250px;
            object-fit: contain;
        }

        .card__body {
            padding: 16px;

            .tag {
                background-color: $base-yelow;
                margin-right: 16px;
                border-radius: 25px;
                width: 100%;
                max-width: fit-content;

                span {
                    color: $base-fiolet;
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 18px;
                    padding: 4px 17px;
                }
            }
        }
    }
    
}
//main post
  
.main_posts {
    font-family: 'ProbaPro-Medium', sans-serif;
    padding: 120px 0;

    .header_wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 40px;

        h2 {
            font-size: 70px;
            font-weight: 500;
            line-height: 89px;
            margin: 0;
            color: $base-fiolet;
        }

        a {
            font-size: 20px;
            font-weight: 600;
            line-height: 41px;
            text-decoration: none;
            color: $base-fiolet;

            &:hover {
                color: $base-yelow;
            }
        }
    }

    .posts_wrapper {
        display: flex;
        justify-content: space-between;
        
        .post_term {
            background-color: $base-yelow;
            margin-right: 16px;
            border-radius: 25px;
            width: 100%;
            max-width: fit-content;
            padding: 7px 17px;
            margin-right: 13px;
            a {
                color: $base-fiolet;
                font-size: 14px;
                font-weight: 600;
                line-height: 18px;
                text-decoration: none;
                text-transform: lowercase;
            }
        }

        .anons_post {
            max-width: 618px;
            width: 100%;
            position: relative;
            padding: 24px 30px;

            img {
                position: absolute;
                z-index: -1;
            }
            

        }

        .other_posts {
            .small_post {
                display: flex;
                max-width: 618px;
                width: 100%;
                border-top: 1px solid rgba(0, 0, 0, 0.1);
                padding-top: 40px;
                margin-bottom: 50px;
                position: relative;
    
                img {
                    max-width: 223px;
                }
    
                .content {
                    margin-left: 20px;
    
                    .post_header {
                        display: flex;
                        align-items: center;
    
                        time {
                            font-size: 14px;
                            font-weight: 600;
                            line-height: 18px;
                            color: rgba(0, 0, 0, 0.2);
                              
                        }
                    }

                    .description {
                        margin-top: 12px;

                        p {
                            font-size: 20px;
                            font-weight: 600;
                            line-height: 26px;
                            margin: 0;
                        }
                    }

                    .topic {
                        position: absolute;
                        bottom: 0;
                        a {
                            text-decoration: none;
                            font-size: 14px;
                            font-weight: 600;
                            line-height: 18px;
                            border: 1px solid rgba(0, 0, 0, 0.1);
                            border-radius: 25px;
                            padding: 3px 17px;
                            text-transform: lowercase;
                            margin-right: 10px;
                            color: #000;
                        }
                    }
                }
            }
        }

        
    }
}